@import './general/fonts.scss';
@import './general/normalize.scss';
@import './general/set.scss';

@import './pages/main.scss';
@import './pages/catalog.scss';
@import './blocks/header.scss';
@import './blocks/components.scss';
@import './blocks/inst.scss';
@import './blocks/footer.scss';
@import './blocks/hero-slider.scss';
@import './blocks/hor-slider.scss';
@import './blocks/burger-menu.scss';
@import './blocks/seo.scss';
@import './blocks/catalog-hero.scss';
@import './blocks/products-list.scss'
