.main {
	width: 100%;
	overflow: hidden;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 15.2rem;
		width: 100%;
	}

	&__content {
		background-image: url('../../img/main/bg.png');
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0 16rem;
	}

	&__seo {
		margin: 0 auto;
		width: 160rem;
	}

	&__card-content {
		display: flex;
		flex-direction: column;
		width: 41.2rem;
		align-items: center;
		margin-top: 24.2rem;
	}

	&__card-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5.7rem;

		strong {
			color: #393531;
			text-align: center;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.54rem;
			text-transform: uppercase;
			line-height: 2.3rem;
		}

		span {
			color: #393531;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.54rem;
			text-transform: uppercase;
			margin-bottom: 1.9rem;
		}

		p {
			color: #393531;
			font-size: 4rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 1.1rem;
		}
	}

	&__card-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 1rem;
		margin-bottom: 5.2rem;

		strong {
			color: #393531;
			text-align: center;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			letter-spacing: 0.54rem;
		}

		span {
			color: #393531;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.54rem;
			text-transform: uppercase;
			letter-spacing: 0.49rem;
			margin-bottom: 1.45rem;
		}

		p {
			color: #393531;
			font-size: 2.5rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.75rem;
			text-transform: uppercase;
		}
	}

	&__hero {
		position: relative;
	}

	&__hero-slider {
		height: 84.1rem;
	}

	&__card-img {
		width: 84.2rem;
		height: 63.7rem;
		position: absolute;
		bottom: 3.5rem;
		left: 11.2rem;
		z-index: 3;
		pointer-events: none;
	}

	&__card {
		display: flex;
		position: relative;
		width: 130.2rem;
		height: 76.8rem;
	}

	&__message {
		color: #feffbe;
		text-align: center;
		font-family: 'MaShanZheng';
		font-size: 5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;

		position: absolute;
		top: 7rem;
		right: 5rem;
		z-index: 3;

		span {
			width: 4.9rem;
			display: block;
			height: auto;
		}

		span:nth-child(2) {
			margin-top: 7.8rem;
		}
	}

	&__card-brush-img {
		position: absolute;
		width: 133rem;
		z-index: 2;
		pointer-events: none;
		height: 114.0629rem;
		top: -28.4rem;
	}

	&__card-cloud-img {
		position: absolute;
		width: 116.7123rem;
		height: 116.4996rem;
		transform: rotate(132.22deg);
		bottom: -17rem;
		right: 14rem;
		z-index: 2;
		pointer-events: none;

		&--second {
			width: 114.8rem;
			height: 64.7399rem;
			bottom: 9rem;
			right: -12.5rem;
			transform: rotate(0deg);
			z-index: 3;
			opacity: 0.4;
		}
	}

	&__dark-cloud {
		position: absolute;
		width: 62.8rem;
		height: 68.5rem;
		right: -16.1rem;
		top: 9.3rem;
	}
}

.link {
	height: 7.25rem;
	width: 24.8rem;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	span {
		color: #393531;
		text-align: center;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.48rem;
		text-transform: uppercase;
		margin-right: 0.6rem;
		margin-top: 0.2rem;
		text-align: center;
		letter-spacing: 0.44rem;
	}

	&__arrow-icon {
		width: 7.2rem;
		height: 5.4rem;
		margin-top: 0.7rem;
	}

	&__link-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
	}
}
